@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Space+Mono:ital,wght@0,700;1,700&display=swap");

@layer components {
  .left-social-links {
    @apply w-auto h-6 text-white cursor-pointer hover:text-themeColor hover:-translate-y-2 ease-in-out transition-all duration-500;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .form-input {
    @apply block w-full border-2 border-themeColor outline-0 focus-visible:outline-themeColor p-3 rounded-none bg-transparent text-themeColor mb-4 placeholder:text-gray-500;
  }
}

@layer base {
  h1 {
    @apply font-sans font-black text-6xl md:text-7xl tracking-wide;
  }
  h2 {
    @apply text-5xl font-serif;
  }
  /* a{
    @apply font-serif
  } */
  p {
    @apply font-sans tracking-wide text-lg;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: black;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 30, 86, 0.7);
  border-radius: 4px;
}
